.tab-regform {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.08);
  border-radius: 10%;
  height: 500px;
}

.tab-regform .tab-head {
  margin-left: 35%;
}

.regform .register > h2 {
  position: relative;
}

.form .register .form-input {
  position: relative;
  margin: 20px 25px 15px 15px;
  top: 20px;
  justify-content: space-between;
}
