<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="airlinemapper">

    <!--  Oracle == MySQL  -->
    <select id="" parameterType="hashmap" resultType="hashmap">
        select m_idx, id, name
        from
        where userid=#{userid} and passwd=#{passwd} and role='admin'
    </select>
</mapper>