.okay {
  text-align: center;
  position: relative;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  left: 0%;
  margin-left: 30%;
  font-size: x-large;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.08);
  width: 600px;
  height: 550px;
  border-radius: 10%;
}
